{% extends 'base.html' %}

{% block head %}
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'userprofile/css/profile.css' %}">

{% endblock %}


{% block body %}

<div class="sidebar">
<a class="active" href="#home"><b>{{profile.full_name }}</b></a>
  <img src="{{profile.profile_pic.url }} " width="200">
  <a style="text-align: center;">{{profile.bio}}</a><br/>
	<div class="text-center">
	  <a href="{{profile.github_link}}">
		  	<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="35"  >
	  </a>
	</div>

</div>

<div class="container" style="margin-left: 300px">
	<div class="panel-group">
	    <div class="panel panel-primary">
	      <div class="panel-heading"><b>Liked Courses</b></div>
	      	<ul class="list-group">
	      	  {% for like in profile.profile_user.likes.all %}
		      	  <li class="list-group-item">{{like.course.title}}  </li>
	      	  {% endfor %}
			</ul>
	    </div>
	</div>
</div>

<div class="container" style="margin-left: 300px">
	<div class="panel-group">
	    <div class="panel panel-primary">
	      <div class="panel-heading"><b>Created Courses</b></div>
	      	<ul class="list-group">
	      	  {% for course in profile.profile_user.published_courses.all %}
			    <div class="panel panel-default">
			      <div class="panel-heading" style="font-size: 21px;padding-left: 35px"><b>{{course.title}}</b></div>
			      	<div class="row">
			      		<!-- Likes -->
		      	  		<div class="col-md-3" style="text-align: center;">
			      	  <li class="list-group-item" style="font-size: 24px">Likes</li> 
			      	  <li class="list-group-item" style="font-size: 30px">{{course.total_likes}} </li>
			      	  </div>
			      		<!-- Topics -->
		      	  		<div class="col-md-3" style="text-align: center;">
			      	  <li class="list-group-item" style="font-size: 24px">Topics</li> 
			      	  <li class="list-group-item" style="font-size: 30px">{{course.topics.count}} </li>
			      	  </div>
			      		<!-- Topics -->
		      	  		<div class="col-md-3" style="text-align: center;">
			      	  <li class="list-group-item" style="font-size: 24px">Subtopics</li> 
			      	  <li class="list-group-item" style="font-size: 30px">{{course.get_subtopics_count}} </li>
			      	  </div>

			        </div>
			      </div>
	      	  {% endfor %}
			</ul>
	    </div>
	</div>
</div>


{% endblock %}
