{% extends 'base.html' %}



{% block head %}


{% endblock %}

{% block body %}

{% load course_tags %}
<div class="container">
  <div class="row">
	{% for course in all_courses %}
	    <div class="col-md-4">
			<div class="panel panel-primary">
		      <div class="panel-heading"><b><a href="{% url 'course:detail' course.id %}" style="color: rgb(255,255,255);font-size: 18px">{{course.title}}</a></b>
		      	<span style="float: right">{{course.total_likes}} 
		      <span class="glyphicon glyphicon-thumbs-up" style="float: right;margin-left : 5px"></span>
		  		</span>
		  		<br/>
		      </div>
		      	<a href="{% url 'course:detail' course.id %}">
		      	<img src="{{ course.course_pic.url }}" width="100%">
		      	</a>

		      <div class="panel-body">
		      	<div style="text-align: justify;">
		      		Topics({% topic_count_tag course.id %} )   <span style="float: right;"> SubTopics({% subtopic_count_tag course.id %})</span>
		      	</div>
		      	<br/>
		      	{% if course.publisher.username == request.user.username %}		      

					<a href={% url 'course:delete' course.id %} class="btn btn-default" role="button">
				      <span class="glyphicon glyphicon-trash"></span> 
				    </a>
				    							<a href={% url 'course:edit' course.id %} class="btn btn-default" role="button">
				      <span class="glyphicon glyphicon-pencil"></span> 
				  	</a>
				  	{% endif %}
					<a href={% url 'course:detail' course.id %} class="btn btn-default" role="button">
				      <span class="glyphicon glyphicon-th-list"></span> 
				    </a>

			    </div>
		    </div>	    	
	    </div>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}


